@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}